@media (max-width: 1024px) {
    .sidebar button {
        width: 255px;
    }

    .ellipse-img {
        margin-left: 40px;
    }

    .ellipse-img1 {
        margin-left: 40px;
    }

    .ellipse-img2 {
        margin-left: 30px;
    }

    .ellipse-img3 {
        margin-left: 55px;
    }

    .header-a {
        flex-wrap: wrap;
    }

    /*.modal-content {*/

    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    font-size: 300px;*/
    /*    width: 50%;*/
    /*}*/
}

@media (max-width: 390px) {
main{
    width: 90%;

}
    #main .sidebar {
        display: none;
    }
    .sidebar-title {
        display: none;
    }
    .sidebars {
        display: none;
    }
}
