@media (max-width: 1024px) {
    .sidebar button {
        width: 255px;
    }

    .ellipse-img {
        margin-left: 40px;
    }

    .ellipse-img1 {
        margin-left: 40px;
    }

    .ellipse-img2 {
margin-left: 30px;
    }
    .ellipse-img3 {
margin-left: 55px;
    }
    .header-a {
        flex-wrap: wrap;
    }
}
@media (max-width: )